.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container h1 {
  font-family: "Arial";
  margin-bottom: 24px;
  font-weight: 600;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 16px;
}

.login-container form input {
  padding: 8px 6px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: none;
  font-size: 16px;
}

.login-container form button {
  padding: 12px 0px;
  outline: none;
  margin-top: 28px;
  outline: none;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
}

.already-have-account-text {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

.already-have-account-text span {
  margin-left: 8px;
}

.links {
  text-decoration: none;
  color: var(--primary-color);
}
